/*./css/mainareastyle.css
Copyright 2020 Sidings Media
License: MIT*/
.control{
    width: calc(100% - 44px);
    border-radius: 6px;
    background-color: #252526;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin: 0 auto;
    height: 150px;
}
