/*./css/mainareastyle.css
Copyright 2020 Sidings Media
License: MIT*/
.control{
    width: calc(100% - 44px);
    border-radius: 6px;
    background-color: #252526;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin: 0 auto;
    height: 150px;
}

/*Custom Scroll bar
Needs work*/


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }