/*./css/mainareastyle.css
Copyright 2020 Sidings Media
License: MIT*/
.control{
    width: calc(100% - 44px);
    border-radius: 6px;
    background-color: #252526;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin: 0 auto;
    /* height: 150px; */
    display: grid;
    grid-template-columns: auto 50px;
    margin-top: 20px;
}
.control-main{
    grid-column: 1;
    width: 100%;
}
.control-sidebar{
    grid-column: 2;
    width: 100%;
}
.control-sidebar-button {
    background-color: #333333;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 5px;
    height: 40px;
    width: 45px;
    cursor: pointer;
    top: 0px;
    border-radius: 6px;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 5px;
}
.settingsDropdown {
    position: relative;
    display: inline-block;
}
  
.settingsDropdown-content {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.0);
    overflow: auto;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 999999;
    /* left: -45px; */
    top: 45px;
}
  
.settingsDropdown-content button {
    color: white;
    display: block;
}
  
.settingsDropdown button:hover {
      background-color: #464647;
}
  
  .show {display: block;}
.control-main-buttons{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.control-main-buttons button{
    width: 100%;
    background-color: #333333;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    top: 0px;
    border-radius: 6px;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 5px;
}
.control-main-buttons button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #464647;
}
.control-main h2{
    padding-left: 12px;
}
/* The Modal (background) */
.control-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.popup-content {
    background-color: #252526;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 6px;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.popup-close {
    color: #fff;
    background-color: #333333;
    border-radius: 6px;
    width: 28px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
  
.popup-close:hover,
.popup-close:focus {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #464647;
    cursor: pointer;
}






fieldset{
    width: calc(100% - 44px);
    border-radius: 6px;
    background-color: #333333;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin: 0 auto;
    border-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.save-button {
    background-color: #464647;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 5px;
    /* height: 40px; */
    /* width: 45px; */
    cursor: pointer;
    top: 0px;
    float: right;
    border-radius: 6px;
    font-size: 20px;
  }
.save-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #656567;
}

  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #464647;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -380px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.3s;
}
input[type=text], select, textarea, select:disabled {
    width: calc(100% - 260px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    opacity: 1;
    color: black;
}
label{
    float: left;
    width: 200px;
    padding: 12px;

    

}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 380px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #464647 transparent;
}
.tooltiptext{
    font-size: 15px;
}  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}
.tooltip {
    position: relative;
    display: inline-block;
    color: #656567;
    text-align: center; 
    font-size: 20px;
    padding-top: 12px;
    cursor:help;

}