/*./css/mainstyle.css
Copyright 2020 Sidings Media
License: MIT*/
body{
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
* {
    box-sizing:border-box;
  }
.container {
    height: 100%;
    display: grid;
    /* grid-column-gap: 50px; */
    grid-template-columns: auto 250px;
    grid-template-rows: 50px auto;

}
.side-bar {
    background-color:#252526;
    /* padding:20px; */
    /* float:left; */
    width:100%; /* The width is 20%, by default */
    height: 100%;
    overflow-x: hidden; 
    overflow-y: auto; 
    grid-column: 2;
    grid-row: 2;
}

.main {
    /* padding:0px; */
    float:left;
    width:100%; /* The width is 60%, by default */
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    grid-column: 1;
    grid-row: 2;


}
/*Custom scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 14px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #323233;
    
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #48484A;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #464647;
}
.swal-modal{
    background: #252526;
    color: #FFFFFF;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.swal-text{
    color: #FFFFFF;
}
/* .swal-icon {
    border-color: #FFFFFF;
    color: #FFFFFF;
  } */
.swal-icon--info{
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.swal-title{
    color: #FFFFFF;
}
.infoPopup{
    text-align: left;
}
.swal-button{
    background-color: #333333;
    border: none;
    box-shadow: none;
}
.swal-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background: #464647 !important;
}
.right{
    float: right;
}
.left{
    float: left;
}
/* Use a media query to add a break point at 600px:
@media screen and (max-width:600px) {
    .main, .side-bar {
        width:100%; /* The width is 100%, when the viewport is 800px or smaller *
        height: unset;
    }
}
@media screen and (max-width:1000px) {
    .side-bar {
        width:40%; /* The width is 100%, when the viewport is 800px or smaller *
    }
    .main{
        width: 60%;
    }
} */