/*./css/preferences.css
Copyright 2020 Sidings Media
License: MIT*/
body{
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
* {
    box-sizing:border-box;
  }
.container {
    height: 100%;
    display: grid;
    /* grid-column-gap: 50px;  */
    grid-template-columns: 100%;
    grid-template-rows: 50px auto;

}


.main {
    /* padding:0px; */
    float:left;
    width:100%; /* The width is 60%, by default */
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    /* grid-column: 1;
    grid-row: 2; */


}
fieldset{
    width: calc(100% - 44px);
    border-radius: 6px;
    background-color: #252526;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin: 0 auto;
    border-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.save-button {
    background-color: #333333;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 5px;
    /* height: 40px; */
    /* width: 45px; */
    cursor: pointer;
    top: 0px;
    float: right;
    border-radius: 6px;
    font-size: 20px;
  }
.save-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #464647;
}

  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -380px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.3s;
}
input[type=text], select, textarea {
    width: calc(100% - 250px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    float: left;
}
label{
    float: left;
    width: 200px;
    padding: 12px;

    

}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 380px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333333 transparent;
}
.tooltiptext{
    font-size: 15px;
}  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}
.tooltip {
    position: relative;
    display: inline-block;
    color: #464647;
    text-align: center; 
    font-size: 20px;
    padding-top: 12px;
    cursor:help;

}
/* Use a media query to add a break point at 600px:
@media screen and (max-width:600px) {
    .main, .side-bar {
        width:100%; /* The width is 100%, when the viewport is 800px or smaller *
        height: unset;
    }
}
@media screen and (max-width:1000px) {
    .side-bar {
        width:40%; /* The width is 100%, when the viewport is 800px or smaller *
    }
    .main{
        width: 60%;
    }
} */